body {
  
    background-color: rgb(16, 158, 108);
       
  
   
  }
  H3 {
    color: rgb(105, 19, 91);
    font-size: large;
    text-decoration: solid;
    text-decoration: underline;
    box-sizing: border-box;
    
  }
  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  p {
    color: rgb(198, 202, 199);
    font-style: italic;
  }
  h2 {
    color: rgb(30, 4, 103);
    
  }
  # center{
    color: blue;
  }